<!-- <div  style="width: 64%; margin-left: 19%;"> -->

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form #FileForm="ngForm" [formGroup]="registerForm" class="form-validate form-horizontal"
            (submit)="onSubmit(registerForm.value)" novalidate="">
            <!-- first name ................ -->
            <div class="form-group">
              <label for="inputPassword">First Name *</label>
              <input class="form-control rounded" type="text" formControlName="firstName" id="inputPassword"
                aria-describedby="passwordHelp" placeholder="Enter password"
                [formControl]="registerForm.controls['firstName']" />
              <span class="text-danger" *ngIf="
                  registerForm.controls['firstName'].hasError('required') &&
                  (registerForm.controls['firstName'].dirty ||
                    registerForm.controls['firstName'].touched)
                ">
                First name is requierd</span>
            </div>

            <!-- last name ......... -->
            <div class="form-group">
              <label for="inputPassword">Last Name *</label>
              <input class="form-control rounded" type="text" formControlName="lastName" id="inputPassword"
                aria-describedby="passwordHelp" placeholder="Enter Lastname"
                [formControl]="registerForm.controls['lastName']" />
              <span class="text-danger" *ngIf="
                  registerForm.controls['lastName'].hasError('required') &&
                  (registerForm.controls['lastName'].dirty ||
                    registerForm.controls['lastName'].touched)
                ">
                Last name is requierd</span>
            </div>


            <!-- gender.................................... -->
            <!-- <div class="form-group row">
              <div class="col-6"><label class="radio-inline">
                  <input type="radio" value="male" formControlName="gender">male
                </label></div>
              <div class="col-6">
                <label class="radio-inline">
                  <input type="radio" value="female" formControlName="gender">female
                </label>
              </div>

             
              <span class="text-danger" *ngIf="registerForm.controls['gender'].hasError('required')"> Gender is required
              </span>
            </div> -->


            <div class="form-group">
              <fieldset>
                <div>
                  <!-- <legend class="font-bold">Gender</legend> -->
                  <label for="inputPassword">Gender *</label>
                </div>
                <div class="inline-flex">
                  <input class="hidden" type="radio" id="male" value="male" formControlName="gender" checked />
                  <label
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer rounded-l"
                    for="male">Male</label>
                  <input class="hidden" type="radio" id="female" value="female" formControlName="gender" />
                  <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer"
                    for="female">Female</label>
                  <input class="hidden" type="radio" id="non-binary" value="non-binary" formControlName="gender" />
                  <label
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer rounded-r"
                    for="non-binary">Non-Binary</label>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label for="inputPassword">Skills *</label>
              <ng-multiselect-dropdown #multiSelect [placeholder]="'Select Skills'" [data]="dropdownList"
                [formControl]="f.skills" [settings]="settings" [disabled]="false"
                (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>


            <!-- email.................................... -->
            <div class="form-group">
              <label for="inputEmail">Email address *</label>
              <input class="form-control rounded" type="email" formControlName="email" id="inputEmail"
                aria-describedby="emailHelp" placeholder="Enter email" [formControl]="registerForm.controls['email']" />
              <span class="text-danger" *ngIf="
                  registerForm.controls['email'].hasError('required') &&
                  (registerForm.controls['email'].dirty ||
                    registerForm.controls['email'].touched)
                ">
                Email is requierd</span>
              <span class="text-danger" *ngIf="
                  registerForm.controls['email'].hasError('email') &&
                  (registerForm.controls['email'].dirty ||
                    registerForm.controls['email'].touched)
                ">
                enter valid email
              </span>
            </div>

            <!-- mobile number................. -->

            <div class="form-group">
              <div class="row">
                
                <div class="col-4 center inline-flex ">
                  <label for="inputEmail">Country code *</label>

                </div>
                <div class="col-8">
                  <label for="inputEmail">Mobile number *</label>
                </div>
              </div>
              <div class="row">
                
                <div class="col-4 center inline-flex ">
                  <!-- <label for="inputEmail">Country code *</label> -->
                  <select class="form-select forDrop" formControlName="CountryCode" placeholder="">
                    <option value="" disabled selected>Select your option</option>
                    <option *ngFor="let item of countries" [value]="item.code">
                      &#43;{{item.code}}
                    </option>
                  </select>
                </div>
                <div class="col-8">
                  <!-- <label for="inputEmail">Mobile number *</label> -->
                  <input class="form-control rounded" type="number" formControlName="mobileNo" id="inputEmail"
                    aria-describedby="emailHelp" placeholder="Mobile number"
                    [formControl]="registerForm.controls['mobileNo']" />
                </div>
              </div>

              <span class="text-danger" *ngIf="
                  registerForm.controls['mobileNo'].hasError('required') &&
                  (registerForm.controls['mobileNo'].dirty ||
                    registerForm.controls['mobileNo'].touched)
                ">
                Number is required</span>
              <span class="text-danger" *ngIf="
                  registerForm.controls['mobileNo'].hasError('pattern') &&
                  (registerForm.controls['mobileNo'].dirty ||
                    registerForm.controls['mobileNo'].touched)
                ">
                Enter valid number
              </span>
            </div>


            <!-- DOB................. -->
            <div class="form-group">
              <label for="inputPassword"> Date of birth *</label>
              <input class="form-control rounded" type="date" formControlName="Dob" id="inputPassword"
                aria-describedby="passwordHelp" placeholder="Enter password"
                [formControl]="registerForm.controls['Dob']"  />
              <!-- <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker> -->
              <span class="text-danger" *ngIf="
                  registerForm.controls['Dob'].hasError('required') &&
                  (registerForm.controls['Dob'].dirty ||
                    registerForm.controls['Dob'].touched)
                ">
                Date of birth is requierd</span>
            </div>

            <div class="form-group">
              <label for="inputPassword"> Password *</label>
              <input class="form-control rounded" type="password" formControlName="password" id="inputPassword"
                aria-describedby="passwordHelp" placeholder="Enter password"
                [formControl]="registerForm.controls['password']" />
              <span class="text-danger" *ngIf="
                  registerForm.controls['password'].hasError('required') &&
                  (registerForm.controls['password'].dirty ||
                    registerForm.controls['password'].touched)
                ">
                password is requierd</span>
            </div>

            <div class="form-group">
              <button [disabled]="registerForm.invalid" class="btn btn-primary" type="submit">
                Register
              </button>
              <a routerLink="/login" class="btn btn-link">cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <fieldset class="p-4">
  <div>
    <legend class="font-bold">Gender</legend>
  </div>
  <div class="inline-flex">
    <input class="hidden" type="radio" id="male" value="male" name="gender" checked/>
    <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer rounded-l" for="male">Male</label>
    <input class="hidden" type="radio" id="female" value="female" name="gender" />
    <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer" for="female">Female</label>
    <input class="hidden" type="radio" id="non-binary" value="non-binary" name="gender" />
    <label class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 cursor-pointer rounded-r" for="non-binary">Non-Binary</label>
  </div>
</fieldset> -->

<!-- {{dropdownList|json}} -->